body {
    background-image:url(Backgroundpic.jpg)
}
h1 {
    font-size: 18px;
    font-style:normal;
    font-family:Arial;
    text-align:center;
}
.Kvittot{
    text-align:center;
    border-style:solid;
    border-width:thin;
    border-color:black;
    background-color:rgba(0,0,0,0.2);
    width:200px;
    height:400px;
}
h2{
    text-align:center;
    border-bottom:solid 3px black;
}
.OpenWeekdays{
    margin-top:2px;
    text-align:center;
    font-size: small;
    font-style:normal;
}
.OpenWeekends{
    margin-top:2px;
    text-align:center;
    font-size: small;
    font-style:normal;
    border-bottom:solid 2px black;
}
#InputArea,#buttons,#Header,#UserTextBox{
    text-align:center;
}
#KvittoArea{
    margin-left:735px;
    margin-top:95px;
}

#KvittoArea span{
    font-style:normal;
    margin-top:2px;
    text-align:right;
}
